@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

input {
  @apply border border-black;
  @apply rounded;
  @apply px-4 py-2;

  @apply w-48;
}

button:not(.text) {
  @apply border border-black;
  @apply rounded;
  @apply px-4 py-2;
}

button:not(.text):hover {
  @apply bg-gray-300;
}

button.text:hover {
  @apply underline;
}

.bg-range[data-value="1"],
.bg-range[data-value="2"] {
  @apply bg-cyan-300;
}

.bg-range[data-value="3"],
.bg-range[data-value="4"] {
  @apply bg-yellow-300;
}

.bg-range[data-value="5"],
.bg-range[data-value="6"],
.bg-range[data-value="7"] {
  @apply bg-orange-500;
  @apply text-white;
}

.bg-range[data-value="8"],
.bg-range[data-value="9"] {
  @apply bg-red-600;
  @apply text-white;
}

.bg-range[data-value="10"] {
  @apply bg-lime-400;
}

.player-title {
  font-family: "Gloria Hallelujah", cursive;
}
